<!DOCTYPE html>

<html>
    <head>
        <title>Penguin Detail</title>
    </head>

    <body>
        <h1>Penguin Details</h1>

        <p><strong>Species:</strong> {{ penguin.species }}</p>
        <p><strong>Island:</strong> {{ penguin.island }}</p>
        <p><strong>Bill Length:</strong> {{ penguin.bill_length_mm }} mm</p>
        <p><strong>Bill Depth:</strong>{{ penguin.bill_depth_mm }} mm</p>
        <p><strong>Flipper Length:</strong> {{ penguin.flipper_length_mm }} mm</p>
        <p><strong>Body Mass:</strong> {{ penguin.body_mass_g }} g</p>
        <p><strong>Sex:</strong> {{ penguin.sex }}</p>
    </body>
</html>